<!DOCTYPE html>
<!-- Erick Tadeo Cobos Rojas -->
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cisco Mock</title>
    <link rel="stylesheet" href="../styles/styles.css"/>
  </head>
  <body>
    <header style="max-width: 1600px; margin: auto;">
      <div id="seccion-superior">
        <div class="container">
          <ul>
            <li><a href="">Cómo comprar</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Iniciar sesión</a></li>
            <li><a href="">ES MX</a></li>
          </ul>
        </div>
      </div>
      <nav>
        <div id="logo">
          <a href="">
            <img src="../assets/cisco-logo.png" alt="sda" />
          </a>
        </div>
        <div id="nav-options">
          <ul id="primary">
            <li><a href="" class="nav-button"><span>Productos y servicios</span></a></li>
            <li><a href="" class="nav-button"><span>Soluciones</span></a></li>
            <li><a href="" class="nav-button"><span>Soporte</span></a></li>
            <li><a href="" class="nav-button"><span>Aprendizaje</span></a></li>
          </ul>
          
          <ul id="secondary">
            <li><a href="" class="nav-button"><span>Explorar Cisco</span></a></li>
            <li><a href="" class="nav-button"><span>Buscar</span></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main style="max-width: 1600px; margin: auto;">
      <section id="section-1">
        <div class="container">
          <div class="text-content">
            <h1>Haga de la IA un éxito</h1>
            <h3>Convierta en realidad las promesas de la inteligencia artificial con Cisco.</h3>
            <button>Descubra Cisco AI</button>
          </div>
        </div>
      </section>
      <section id="section-2">
        <div class="button-container">
          <ul>
            <li>
              <a href="" class="button">
                <span 
                  class="icon" 
                  style="background: url(../assets/download.svg) no-repeat;">
                </span>
                <span class="text">Descargas</span>
              </a>
            </li>
            <li>
              <a href="" class="button">
                <span 
                  class="icon" 
                  style="background: url(../assets/settings.svg) no-repeat;">
                </span>
                <span class="text">Certificaciones</span>
              </a>
            </li>
            <li>
              <a href="" class="button">
                <span 
                  class="icon" 
                  style="background: url(../assets/file-text.svg) no-repeat;">
                </span>
                <span class="text">Cisco validated</span>
              </a>
            </li>
            <li>
              <a href="" class="button">
                <span 
                  class="icon" 
                  style="background: url(../assets/a-arrow-up.svg) no-repeat;">
                </span>
                <span class="text">Capacitación</span>
              </a>
            </li>
            <li>
              <a href="" class="button">
                <span 
                  class="icon" 
                  style="background: url(../assets/users.svg) no-repeat;">
                </span>
                <span class="text">Comunidad</span>
              </a>
            </li>
            <li>
              <a href="" class="button">
                <span 
                  class="icon" 
                  style="background: url(../assets/headset.svg) no-repeat;">
                </span>
                <span class="text">Soporte</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section id="section-3">
        <div class="title">
          <h1>¿Desafíos difíciles? Soluciones a medida.</h1>
          <h3>
            Combinamos los productos y servicios ideales en soluciones que
            abordan los desafíos específicos de su industria, negocio o
            tecnología.
          </h3>
        </div>
        <div class="grid-card-container">
          <div class="card big">Card 1</div>
          <div class="card medium">Card 2</div>
          <div class="card small">Card 3</div>
          <div class="card small">Card 4</div>
          <div class="card small">Card 5</div>
          <div class="card small">Card 6</div>
          <div class="card small">Card 7</div>
          <div class="card small">Card 8</div>
          <div class="card small">Card 9</div>
      </div>
      </section>
    </main>
    <footer style="max-width: 1600px; margin: auto;">
      <div class="footer-links" id="primary-links">
        <ul>
          <li><a href="">Acerca de Cisco</a></li>
          <li><a href="">Contacte a Cisco</a></li>
          <li><a href="">Carreras profesionales</a></li>
          <li><a href="">Conéctese con un partner</a></li>
        </ul>
      </div>
      <div class="footer-links" id="secondary-links">
        <ul>
          <li><a href="">Comentarios</a></li>
          <li><a href="">Ayuda</a></li>
          <li><a href="">Terminos y condiciones</a></li>
          <li><a href="">Declaracion de privacidad</a></li>
          <li><a href="">Cookies</a></li>
          <li><a href="">Marcas registradas</a></li>
          <li><a href="">Transparencia en la cadena de suministro</a></li>
          <li><a href="">Mapa del sitio</a></li>
        </ul>
      </div>
      <div id="copyright">
        <p>&copy; 2025 Cisco Systems, Inc.</p>
      </div>
    </footer>
  </body>
</html>
